@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #b6997e !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #b6997e;
  border-color: #b6997e;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #947354;
  border-color: #947354;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #947354 !important;
  border-color: #947354 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #84664a;
  color: #84664a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #b6997e;
  border-color: #b6997e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b6997e !important;
  border-color: #b6997e !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #b6997e !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #b6997e;
}
.btn-social:hover {
  background: #b6997e;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #b6997e;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #b6997e;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #b6997e;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #b6997e;
}
.lead a,
.lead a:hover {
  color: #b6997e;
}
.lead blockquote {
  border-color: #b6997e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e4d9cf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #b6997e;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-0 .link {
  font-size: 0.65rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #b6997e;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#header2-0 FONT {
  color: #ffffff;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 SMALL {
  font-size: 22px;
}
#msg-box8-k .mbr-section-title,
#msg-box8-k p {
  color: #fff;
}
#msg-box8-k .mbr-section-title FONT {
  color: #ffffff;
}
#features2-a .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#social-buttons3-4 .mbr-section-title,
#social-buttons3-4 .btn-social {
  color: #fff;
}


#menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-y .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-y .navbar-toggler {
  color: #ffffff;
}
#menu-y .close-icon::before,
#menu-y .close-icon::after {
  background-color: #ffffff;
}
#menu-y .link,
#menu-y .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-y .link {
  font-size: 0.65rem;
}
#menu-y .dropdown-item,
#menu-y .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-y .link:hover,
#menu-y .dropdown-item:hover,
#menu-y .link:focus,
#menu-y .dropdown-item:focus {
  color: #b6997e;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-menu {
  background: #0e0e0e;
}
#menu-y .nav-dropdown-sm .link:focus,
#menu-y .nav-dropdown-sm .link:hover,
#menu-y .nav-dropdown-sm .dropdown-item:focus,
#menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-y .navbar,
#menu-y .nav-dropdown-sm,
#menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-y .bg-color.transparent.opened .link:hover,
#menu-y .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-13 .mbr-section-title,
#msg-box8-13 p {
  color: #fff;
}
#msg-box8-13 .mbr-section-title FONT {
  color: #ffffff;
}
#header3-6 .mbr-section-title,
#header3-6 .mbr-section-subtitle {
  text-align: center;
}
#header3-4 .mbr-section-title,
#header3-4 .mbr-section-subtitle {
  text-align: center;
}
#header3-4 H3 {
  color: #ffffff;
}
#header3-10 .mbr-section-title,
#header3-10 .mbr-section-subtitle {
  text-align: center;
}
#header3-10 SMALL {
  font-size: 22px;
}
#social-buttons3-17 .mbr-section-title,
#social-buttons3-17 .btn-social {
  color: #fff;
}


#menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-v .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-v .navbar-toggler {
  color: #ffffff;
}
#menu-v .close-icon::before,
#menu-v .close-icon::after {
  background-color: #ffffff;
}
#menu-v .link,
#menu-v .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-v .link {
  font-size: 0.65rem;
}
#menu-v .dropdown-item,
#menu-v .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-v .link:hover,
#menu-v .dropdown-item:hover,
#menu-v .link:focus,
#menu-v .dropdown-item:focus {
  color: #b6997e;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-menu {
  background: #0e0e0e;
}
#menu-v .nav-dropdown-sm .link:focus,
#menu-v .nav-dropdown-sm .link:hover,
#menu-v .nav-dropdown-sm .dropdown-item:focus,
#menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-v .navbar,
#menu-v .nav-dropdown-sm,
#menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-v .bg-color.transparent.opened .link:hover,
#menu-v .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-w .mbr-section-title,
#msg-box8-w p {
  color: #fff;
}
#msg-box8-w .mbr-section-title FONT {
  color: #ffffff;
}
#header3-x .mbr-section-title,
#header3-x .mbr-section-subtitle {
  text-align: center;
}
#header3-15 .mbr-section-title,
#header3-15 .mbr-section-subtitle {
  text-align: center;
}
#header3-15 H3 {
  color: #ffffff;
}
#header3-19 .mbr-section-title,
#header3-19 .mbr-section-subtitle {
  text-align: center;
}
#header3-19 SMALL {
  font-size: 22px;
}
#social-buttons3-1d .mbr-section-title,
#social-buttons3-1d .btn-social {
  color: #fff;
}


#menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-20 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-20 .navbar-toggler {
  color: #ffffff;
}
#menu-20 .close-icon::before,
#menu-20 .close-icon::after {
  background-color: #ffffff;
}
#menu-20 .link,
#menu-20 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-20 .link {
  font-size: 0.65rem;
}
#menu-20 .dropdown-item,
#menu-20 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-20 .link:hover,
#menu-20 .dropdown-item:hover,
#menu-20 .link:focus,
#menu-20 .dropdown-item:focus {
  color: #b6997e;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-menu {
  background: #0e0e0e;
}
#menu-20 .nav-dropdown-sm .link:focus,
#menu-20 .nav-dropdown-sm .link:hover,
#menu-20 .nav-dropdown-sm .dropdown-item:focus,
#menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-20 .navbar,
#menu-20 .nav-dropdown-sm,
#menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-20 .bg-color.transparent.opened .link:hover,
#menu-20 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-21 .mbr-section-title,
#msg-box8-21 p {
  color: #fff;
}
#msg-box8-21 .mbr-section-title FONT {
  color: #ffffff;
}
#header3-22 .mbr-section-title,
#header3-22 .mbr-section-subtitle {
  text-align: center;
}
#content7-2i UL {
  text-align: right;
}
#content7-2i P {
  text-align: left;
}
#header3-28 .mbr-section-title,
#header3-28 .mbr-section-subtitle {
  text-align: center;
}
#header3-28 H3 {
  color: #ffffff;
}
#header3-2c .mbr-section-title,
#header3-2c .mbr-section-subtitle {
  text-align: center;
}
#header3-2c SMALL {
  font-size: 22px;
}
#social-buttons3-2g .mbr-section-title,
#social-buttons3-2g .btn-social {
  color: #fff;
}


#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-1 .link {
  font-size: 0.65rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #b6997e;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #0e0e0e;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-2 .mbr-section-title,
#msg-box8-2 p {
  color: #fff;
}
#msg-box8-2 .mbr-section-title FONT {
  color: #ffffff;
}
#header3-3 .mbr-section-title,
#header3-3 .mbr-section-subtitle {
  text-align: center;
}
#content7-7 UL {
  text-align: right;
}
#content7-7 P {
  text-align: left;
}
#header3-9 .mbr-section-title,
#header3-9 .mbr-section-subtitle {
  text-align: center;
}
#header3-9 H3 {
  color: #ffffff;
}
#header3-d .mbr-section-title,
#header3-d .mbr-section-subtitle {
  text-align: center;
}
#header3-d SMALL {
  font-size: 22px;
}
#social-buttons3-h .mbr-section-title,
#social-buttons3-h .btn-social {
  color: #fff;
}


#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-1 .link {
  font-size: 0.65rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #b6997e;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #0e0e0e;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-2 .mbr-section-title,
#msg-box8-2 p {
  color: #fff;
}
#msg-box8-2 .mbr-section-title FONT {
  color: #ffffff;
}
#header3-3 .mbr-section-title,
#header3-3 .mbr-section-subtitle {
  text-align: center;
}
#header3-c .mbr-section-title,
#header3-c .mbr-section-subtitle {
  text-align: center;
}
#header3-c SMALL {
  font-size: 22px;
}
#msg-box3-18 .mbr-section-title,
#msg-box3-18 p {
  color: #000;
}
#msg-box3-1a .mbr-section-title,
#msg-box3-1a p {
  color: #000;
}
#msg-box3-19 .mbr-section-title,
#msg-box3-19 p {
  color: #000;
}
#social-buttons3-g .mbr-section-title,
#social-buttons3-g .btn-social {
  color: #fff;
}


#menu-1c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1c .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-1c .navbar-toggler {
  color: #ffffff;
}
#menu-1c .close-icon::before,
#menu-1c .close-icon::after {
  background-color: #ffffff;
}
#menu-1c .link,
#menu-1c .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-1c .link {
  font-size: 0.65rem;
}
#menu-1c .dropdown-item,
#menu-1c .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-1c .link:hover,
#menu-1c .dropdown-item:hover,
#menu-1c .link:focus,
#menu-1c .dropdown-item:focus {
  color: #b6997e;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-menu {
  background: #0e0e0e;
}
#menu-1c .nav-dropdown-sm .link:focus,
#menu-1c .nav-dropdown-sm .link:hover,
#menu-1c .nav-dropdown-sm .dropdown-item:focus,
#menu-1c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1c .navbar,
#menu-1c .nav-dropdown-sm,
#menu-1c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1c .bg-color.transparent.opened .link:hover,
#menu-1c .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-1d .mbr-section-title,
#msg-box8-1d p {
  color: #fff;
}
#msg-box8-1d .mbr-section-title FONT {
  color: #ffffff;
}
#social-buttons3-28 .mbr-section-title,
#social-buttons3-28 .btn-social {
  color: #fff;
}


#menu-30 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-30 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-30 .navbar-toggler {
  color: #ffffff;
}
#menu-30 .close-icon::before,
#menu-30 .close-icon::after {
  background-color: #ffffff;
}
#menu-30 .link,
#menu-30 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-30 .link {
  font-size: 0.65rem;
}
#menu-30 .dropdown-item,
#menu-30 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-30 .link:hover,
#menu-30 .dropdown-item:hover,
#menu-30 .link:focus,
#menu-30 .dropdown-item:focus {
  color: #b6997e;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-menu {
  background: #0e0e0e;
}
#menu-30 .nav-dropdown-sm .link:focus,
#menu-30 .nav-dropdown-sm .link:hover,
#menu-30 .nav-dropdown-sm .dropdown-item:focus,
#menu-30 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-30 .navbar,
#menu-30 .nav-dropdown-sm,
#menu-30 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-30 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-30 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-30 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-30 .bg-color.transparent.opened .link:hover,
#menu-30 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#content5-3d .mbr-section-title,
#content5-3d p {
  color: #fff;
}
#header3-32 .mbr-section-title,
#header3-32 .mbr-section-subtitle {
  text-align: center;
}
#header3-32 SMALL {
  font-size: 22px;
}
#msg-box8-35 .mbr-section-title,
#msg-box8-35 p {
  color: #fff;
}
#msg-box8-35 .mbr-section-title FONT {
  color: #ffffff;
}
#features2-36 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#social-buttons3-39 .mbr-section-title,
#social-buttons3-39 .btn-social {
  color: #fff;
}


#menu-2e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2e .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-2e .navbar-toggler {
  color: #ffffff;
}
#menu-2e .close-icon::before,
#menu-2e .close-icon::after {
  background-color: #ffffff;
}
#menu-2e .link,
#menu-2e .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-2e .link {
  font-size: 0.65rem;
}
#menu-2e .dropdown-item,
#menu-2e .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-2e .link:hover,
#menu-2e .dropdown-item:hover,
#menu-2e .link:focus,
#menu-2e .dropdown-item:focus {
  color: #b6997e;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-menu {
  background: #0e0e0e;
}
#menu-2e .nav-dropdown-sm .link:focus,
#menu-2e .nav-dropdown-sm .link:hover,
#menu-2e .nav-dropdown-sm .dropdown-item:focus,
#menu-2e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2e .navbar,
#menu-2e .nav-dropdown-sm,
#menu-2e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2e .bg-color.transparent.opened .link:hover,
#menu-2e .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-2f .mbr-section-title,
#msg-box8-2f p {
  color: #fff;
}
#msg-box8-2f .mbr-section-title FONT {
  color: #ffffff;
}
#msg-box8-2f .lead {
  color: #ffffff;
}
#form1-2 .form-control-label {
  color: #232323;
}
#header3-5 .mbr-section-title,
#header3-5 .mbr-section-subtitle {
  text-align: center;
}
#social-buttons3-2n .mbr-section-title,
#social-buttons3-2n .btn-social {
  color: #fff;
}


#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-1 .link {
  font-size: 0.65rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #b6997e;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #0e0e0e;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-2 .mbr-section-title,
#msg-box8-2 p {
  color: #fff;
}
#msg-box8-2 .mbr-section-title FONT {
  color: #ffffff;
}
#header3-3 .mbr-section-title,
#header3-3 .mbr-section-subtitle {
  text-align: center;
}
#header3-9 .mbr-section-title,
#header3-9 .mbr-section-subtitle {
  text-align: center;
}
#header3-9 H3 {
  color: #ffffff;
}
#header3-d .mbr-section-title,
#header3-d .mbr-section-subtitle {
  text-align: center;
}
#header3-d SMALL {
  font-size: 22px;
}
#social-buttons3-h .mbr-section-title,
#social-buttons3-h .btn-social {
  color: #fff;
}


#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-1 .link {
  font-size: 0.65rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #b6997e;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #0e0e0e;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-2 .mbr-section-title,
#msg-box8-2 p {
  color: #fff;
}
#msg-box8-2 .mbr-section-title FONT {
  color: #ffffff;
}
#header3-3 .mbr-section-title,
#header3-3 .mbr-section-subtitle {
  text-align: center;
}
#header3-8 .mbr-section-title,
#header3-8 .mbr-section-subtitle {
  text-align: center;
}
#header3-8 H3 {
  color: #ffffff;
}
#header3-c .mbr-section-title,
#header3-c .mbr-section-subtitle {
  text-align: center;
}
#header3-c SMALL {
  font-size: 22px;
}
#social-buttons3-g .mbr-section-title,
#social-buttons3-g .btn-social {
  color: #fff;
}


#menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-j .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-j .navbar-toggler {
  color: #ffffff;
}
#menu-j .close-icon::before,
#menu-j .close-icon::after {
  background-color: #ffffff;
}
#menu-j .link,
#menu-j .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-j .link {
  font-size: 0.65rem;
}
#menu-j .dropdown-item,
#menu-j .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-j .link:hover,
#menu-j .dropdown-item:hover,
#menu-j .link:focus,
#menu-j .dropdown-item:focus {
  color: #b6997e;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-menu {
  background: #0e0e0e;
}
#menu-j .nav-dropdown-sm .link:focus,
#menu-j .nav-dropdown-sm .link:hover,
#menu-j .nav-dropdown-sm .dropdown-item:focus,
#menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-j .navbar,
#menu-j .nav-dropdown-sm,
#menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-j .bg-color.transparent.opened .link:hover,
#menu-j .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-k .mbr-section-title,
#msg-box8-k p {
  color: #fff;
}
#msg-box8-k .mbr-section-title FONT {
  color: #ffffff;
}
#header3-l .mbr-section-title,
#header3-l .mbr-section-subtitle {
  text-align: center;
}
#header3-q .mbr-section-title,
#header3-q .mbr-section-subtitle {
  text-align: center;
}
#header3-q H3 {
  color: #ffffff;
}
#header3-u .mbr-section-title,
#header3-u .mbr-section-subtitle {
  text-align: center;
}
#header3-u SMALL {
  font-size: 22px;
}
#social-buttons3-y .mbr-section-title,
#social-buttons3-y .btn-social {
  color: #fff;
}


#menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-11 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-11 .navbar-toggler {
  color: #ffffff;
}
#menu-11 .close-icon::before,
#menu-11 .close-icon::after {
  background-color: #ffffff;
}
#menu-11 .link,
#menu-11 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-11 .link {
  font-size: 0.65rem;
}
#menu-11 .dropdown-item,
#menu-11 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-11 .link:hover,
#menu-11 .dropdown-item:hover,
#menu-11 .link:focus,
#menu-11 .dropdown-item:focus {
  color: #b6997e;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-menu {
  background: #0e0e0e;
}
#menu-11 .nav-dropdown-sm .link:focus,
#menu-11 .nav-dropdown-sm .link:hover,
#menu-11 .nav-dropdown-sm .dropdown-item:focus,
#menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-11 .navbar,
#menu-11 .nav-dropdown-sm,
#menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-11 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-11 .bg-color.transparent.opened .link:hover,
#menu-11 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-12 .mbr-section-title,
#msg-box8-12 p {
  color: #fff;
}
#msg-box8-12 .mbr-section-title FONT {
  color: #ffffff;
}
#header3-13 .mbr-section-title,
#header3-13 .mbr-section-subtitle {
  text-align: center;
}
#header3-19 .mbr-section-title,
#header3-19 .mbr-section-subtitle {
  text-align: center;
}
#header3-19 H3 {
  color: #ffffff;
}
#header3-1d .mbr-section-title,
#header3-1d .mbr-section-subtitle {
  text-align: center;
}
#header3-1d SMALL {
  font-size: 22px;
}
#social-buttons3-1h .mbr-section-title,
#social-buttons3-1h .btn-social {
  color: #fff;
}


#menu-1j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1j .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-1j .navbar-toggler {
  color: #ffffff;
}
#menu-1j .close-icon::before,
#menu-1j .close-icon::after {
  background-color: #ffffff;
}
#menu-1j .link,
#menu-1j .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-1j .link {
  font-size: 0.65rem;
}
#menu-1j .dropdown-item,
#menu-1j .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-1j .link:hover,
#menu-1j .dropdown-item:hover,
#menu-1j .link:focus,
#menu-1j .dropdown-item:focus {
  color: #b6997e;
}
#menu-1j .link[aria-expanded="true"],
#menu-1j .dropdown-menu {
  background: #0e0e0e;
}
#menu-1j .nav-dropdown-sm .link:focus,
#menu-1j .nav-dropdown-sm .link:hover,
#menu-1j .nav-dropdown-sm .dropdown-item:focus,
#menu-1j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1j .navbar,
#menu-1j .nav-dropdown-sm,
#menu-1j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1j .bg-color.transparent.opened .link:hover,
#menu-1j .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-1j .link[aria-expanded="true"],
#menu-1j .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-1k .mbr-section-title,
#msg-box8-1k p {
  color: #fff;
}
#msg-box8-1k .mbr-section-title FONT {
  color: #ffffff;
}
#header3-1l .mbr-section-title,
#header3-1l .mbr-section-subtitle {
  text-align: center;
}
#header3-1r .mbr-section-title,
#header3-1r .mbr-section-subtitle {
  text-align: center;
}
#header3-1r H3 {
  color: #ffffff;
}
#header3-1v .mbr-section-title,
#header3-1v .mbr-section-subtitle {
  text-align: center;
}
#header3-1v SMALL {
  font-size: 22px;
}
#social-buttons3-1z .mbr-section-title,
#social-buttons3-1z .btn-social {
  color: #fff;
}


#menu-23 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-23 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-23 .navbar-toggler {
  color: #ffffff;
}
#menu-23 .close-icon::before,
#menu-23 .close-icon::after {
  background-color: #ffffff;
}
#menu-23 .link,
#menu-23 .dropdown-item {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menu-23 .link {
  font-size: 0.65rem;
}
#menu-23 .dropdown-item,
#menu-23 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-23 .link:hover,
#menu-23 .dropdown-item:hover,
#menu-23 .link:focus,
#menu-23 .dropdown-item:focus {
  color: #b6997e;
}
#menu-23 .link[aria-expanded="true"],
#menu-23 .dropdown-menu {
  background: #0e0e0e;
}
#menu-23 .nav-dropdown-sm .link:focus,
#menu-23 .nav-dropdown-sm .link:hover,
#menu-23 .nav-dropdown-sm .dropdown-item:focus,
#menu-23 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-23 .navbar,
#menu-23 .nav-dropdown-sm,
#menu-23 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-23 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-23 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-23 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-23 .bg-color.transparent.opened .link:hover,
#menu-23 .bg-color.transparent.opened .link:focus {
  color: #b6997e;
}
#menu-23 .link[aria-expanded="true"],
#menu-23 .dropdown-item[aria-expanded="true"] {
  color: #b6997e!important;
}
#msg-box8-24 .mbr-section-title,
#msg-box8-24 p {
  color: #fff;
}
#msg-box8-24 .mbr-section-title FONT {
  color: #ffffff;
}
#header3-25 .mbr-section-title,
#header3-25 .mbr-section-subtitle {
  text-align: center;
}
#header3-2c .mbr-section-title,
#header3-2c .mbr-section-subtitle {
  text-align: center;
}
#header3-2c H3 {
  color: #ffffff;
}
#header3-2g .mbr-section-title,
#header3-2g .mbr-section-subtitle {
  text-align: center;
}
#header3-2g SMALL {
  font-size: 22px;
}
#social-buttons3-2k .mbr-section-title,
#social-buttons3-2k .btn-social {
  color: #fff;
}
